# Python
__pycache__/
*.py[cod]

# Виртуальные окружения
venv/
.venv/
.venv1/
.env
.env.*

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Playwright артефакты
playwright-report/
test-results/
ui_tests/artifacts/
